.app{
    height: 100vh;
    width: 100vw;
    padding-top: 80px;
}

body{
    overflow-y: hidden;
}

.singleLineText{
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}