body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  overflow-y: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-variant: small-caps;
  color: #3A3A3A;
  font-weight: 600 !important;
  letter-spacing: 0.04em;
}


nav{
  height: 80px !important;
}